
section.places h1{
	float: left;
	font-size: 30px;
	width: 100%;
}

section.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

section.places article h2 {
	font-size: 30px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 40px;
}

section.places {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

section.places div.price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 50%;
	padding: 4px;
	height: 60px;
	min-width: 60px;
	font-size: 30px;
	float: right;
	margin-top: -82px;
	display: flex;
	justify-content: center;
	align-items: center;
}
section.places div.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

div.max_guest, div.number_rooms, div.number_bathrooms {
	width: 100px;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;	
	margin-top: -12px;
}

div.max_guest {
	background-image: url('../images/icon_group.png');
	background-repeat: no-repeat;
	background-position: center;
}

div.number_rooms {
	background-image: url('../images/icon_bed.png');
	background-repeat: no-repeat;
	background-position: center center;
}

div.number_bathrooms {
	background-image: url('../images/icon_bath.png');
	background-repeat: no-repeat;
	background-position: center center;
}

div.user {
	margin-top: 20px;
	margin-bottom: 10px;
}

section.places div.amenities, section.places div.reviews {
	margin-top: 40px;
	width: 100%;
}

section.places div.amenities h2, section.places div.reviews h2 {
	text-align: left;
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

section.places div.reviews li h3 {
	font-size: 14px;
}
section.places div.reviews li p {
	font-size: 12px;
	margin-top: -10px;
}
section.places div.amenities ul, section.places div.amenities li, section.places div.reviews li {
	list-style: none;
}

section.places div.amenities ul.tv {
	background-image: url('../images/icon_tv.png');
	background-repeat: no-repeat;
	background-position: 0.5% 50%;
	background-size: 5.5%;
}
section.places div.amenities ul.wifi {
	background-image: url('../images/icon_wifi.png');
	background-repeat: no-repeat;
	background-position: 0.5% 50%;
	background-size: 5.5%;
}
section.places div.amenities ul.pets {
	background-image: url('../images/icon_pets.png');
	background-repeat: no-repeat;
	background-position: 0.5% 50%;
	background-size: 5.5%;
}