body {
	color: #484848;
	font-size: 14px;
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 61px;
}
.container {
	max-width: 1000px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: white;
	height: 100%;
	width: 100%;
}

