section.places div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
section.places h1{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 30px;
	margin-left: 5px;
}
section.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}
section.places h2 {
	text-align: center;
	font-size: 30px;
}
