
section.places h1{
	float: left;
	font-size: 30px;
	width: 100%;
}

section.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

section.places article h2 {
	font-size: 30px;
	text-align: center;
}

section.places {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}